:root {
  --yellow: #ffdd32;
  --yellow-one: #ffd53e;
  --yellow-two: #fdc43f;
  --dark-brown: #2d2a32;
  --brackish: #000814;
  --black: #03071e;
  --text-font: "Manrope", sans-serif;
  --main-font: "Rubik One";
}
body {
  background-image: url(../media/yellow-background.png);
}
.calculator {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "bar"
    "image"
    "question";
  margin: 20px 50px;
}

/* progress-bar */
.progress-bar {
  grid-area: bar;
}
.progress-wrapper-text {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.progress-text {
  display: flex;
  justify-content: space-around;
  margin: 0;
  list-style: none;
  padding: 0;
  text-align: center;
}
.progress-text li {
  position: relative;
  padding: 0 2%;
}
.progress-text .after-line::after {
  content: "";
  width: 1px;
  height: 8px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
}
.progress {
  height: 0.5rem !important;
  border-radius: 0 !important;
  width: 90%;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  background-color: transparent !important;
}

/* answer-questions */
.form-step {
  display: none !important;
}

.active-section {
  display: grid !important;
}

/* right side of page */
.right-side-calculator {
  grid-area: image;
}
.right-side-calculator .calc-image {
  width: 100%;
  height: auto;
}
.right-side-calculator .text-know {
  border: 3px solid black;
  padding: 10px 10px;
  margin: 20px 0;
}
.right-side-calculator .text-home {
  background-color: #afafc3;
}
.right-side-calculator .text-transport {
  background-color: #f1e9c2;
}
.right-side-calculator .text-food {
  background-color: #ced1cd;
}
.right-side-calculator .text-recycling {
  background-color: white;
}
.right-side-calculator .text-know .title {
  font-weight: 600;
  font-size: 22px;
  line-height: 20px;
}
.right-side-calculator .text-know .text {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}

/* left side of page */
.left-side-calculator {
  grid-area: question;
  position: relative;
}
.left-side-calculator .question-answer {
  margin: 20% 0 10% 0;
}
.left-side-calculator .question-answer .question {
  font-weight: 600;
  font-size: 28px;
  line-height: 25px;
}
.left-side-calculator .question-answer .answer-group {
  margin: 40px 0;
}
.left-side-calculator .question-answer .answer_1 {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 1px solid black;
  padding-bottom: 0.3rem;
}
.left-side-calculator .question-answer .journeys_answers div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.left-side-calculator .question-answer .answer_1 input {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 10%;
}
.left-side-calculator .question-answer .answer_5 input {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 20%;
}
.left-side-calculator .question-answer .answer_1 .answer {
  margin: 0;
}
.left-side-calculator .question-answer .radio {
  display: flex;
  flex-direction: column;
}
.left-side-calculator .question-answer .radio div {
  padding: 1% 0;
}
.left-side-calculator .question-answer .answer-group input {
  accent-color: black;
}

.step-three .if_yes {
  margin-top: 5%;
  display: none;
}
.step-three .if_yes input {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 20%;
}
.step-three .show_yes {
  display: block;
}

/* bottom nav-bar */
.step-one .left-side-calculator .navigation-bottom-bar .btn-backward {
  visibility: hidden;
}
.left-side-calculator .navigation-bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side-calculator .navigation-bottom-bar .arrow-btn {
  display: flex;
  align-items: center;
}
.left-side-calculator .navigation-bottom-bar .arrow-btn:hover {
  cursor: pointer;
}
.arrow {
  font-size: 22px;
  border: 3px solid #000000;
  border-radius: 50%;
  padding: 5px 8px 5px 8px;
}
.left-side-calculator .navigation-bottom-bar .arrow-btn p {
  padding: 0 5px;
  font-weight: 600;
  margin: 0;
}
.left-side-calculator .navigation-bottom-bar .number_page {
  margin: 0;
}
.left-side-calculator .navigation-bottom-bar #changed-number {
  font-weight: 600;
}

@media (min-width: 991px) {
  .calculator {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "bar image"
      "question image"
      "question image"
      "question image"
      "question image"
      "question image";
    min-height: calc(100vh - 30%);
    margin: 2% 0;
  }
  .progress-text {
    font-size: 20px;
  }
  .progress-text li {
    position: relative;
    padding: 0 7.3%;
  }
  .right-side-calculator {
    padding: 10% 10%;
    border-left: 4px solid black;
    min-height: 60vh;
  }
  .left-side-calculator {
    padding: 10% 10% 0 10%;
    display: flex;
    flex-direction: column;
  }
  .left-side-calculator .question {
    font-size: 34px !important;
    line-height: 40px !important;
  }
  .left-side-calculator .question-answer .answer-group {
    margin: 100px 0;
    font-size: 20px;
  }
  .step-nine .left-side-calculator .question-answer .answer-group fieldset {
    margin-bottom: 3%;
  }
  .left-side-calculator .navigation-bottom-bar {
    font-size: 22px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 5%;
  }
  .right-side-calculator .text-know .title {
    font-size: 26px;
    line-height: 26px;
  }
  .right-side-calculator .text-know .text {
    font-size: 22px;
    line-height: 24px;
  }
}
