:root {
  --yellow: #ffdd32;
  --yellow-one: #ffd53e;
  --yellow-two: #fdc43f;
  --dark-brown: #2d2a32;
  --brackish: #000814;
  --black: #03071e;
  --text-font: "Manrope", sans-serif;
  --main-font: "Rubik One";
}
body {
  background-image: url(../media/background-foot.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: var(--text-font) !important;
  color: black !important;
}

/* menu */
.navbar .logo-group {
  display: flex;
  align-items: center;
  margin-left: 2.5em !important;
}
.navbar .logo-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  padding-top: 30px;
}
.navbar .changed-toggler {
  padding-top: 20px;
  border: none;
}
.navbar .navbar-toggler-icon {
  background-image: url("/media/menu-hamburger.svg");
}
.menu {
  margin-right: 2.5em !important;
  padding-top: 20px;
}
.menu .nav-link {
  font-family: var(--text-font) !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  color: black;
  padding: 0 40px 0 40px !important;
}
.menu .active {
  font-weight: 800;
}

/* main-window */
.main-text {
  display: flex;
  height: 70vh;
}
.left-side {
  font-size: 2rem;
  width: 50%;
  text-align: end;
  margin-top: 10%;
  padding-right: 1.5rem;
}
.left-side h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 61px;
}
.right-side {
  width: 50%;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 18%;
  padding-left: 1.5rem;
}
.right-side p {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
}
.right-side h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  font-family: var(--main-font);
  margin-top: 20px;
}
.right-side .arrow {
  color: black;
  margin-left: 10px;
  font-size: 34px;
  border: 3px solid #000000;
  border-radius: 50%;
  padding: 3px 5px 3px 5px;
}
.footer {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.footer > li {
  text-decoration: none;
}
.socials {
  display: flex;
  justify-content: center;
}
