:root {
  --yellow: #ffdd32;
  --yellow-one: #ffd53e;
  --yellow-two: #fdc43f;
  --dark-brown: #2d2a32;
  --brackish: #000814;
  --black: #03071e;
}
body {
  background-image: url(../media/background-foot.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.logo-image {
  transform: rotate(45deg);
}
.main-text {
  display: flex;
  height: 70vh;
}
.left-side {
  font-size: 2rem;
  width: 50%;
  text-align: end;
  margin-top: 10%;
  padding-right: 1.5rem;
}
.right-side {
  width: 50%;
  font-size: 1.5rem;
  text-align: left;
  margin-top: 15%;
  padding-left: 1.5rem;
}
.footer {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.footer > li {
  text-decoration: none;
}
.socials {
  display: flex;
  justify-content: center;
}
